/******* GENERAL *******/
/* spacing on all sections */
#about,
#skills,
#portfolio,
#universe,
footer {
    margin-top: 72px;
}
#about h2,
#skills h2,
#portfolio h2,
#universe h2,
#contact h2 {
    margin-bottom: 12px;
}

#contact {
    padding-bottom: 60px;
}

/* navbar */
.navbar {
    background-color: #083443;
}

.navbar-brand {
    font-size: 24px;
    color: #FFFFFF;
}

#navbarSupportedContent ul {
    gap: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 24px;
    color: #FFFFFF;
}

.navbarScroll.navbarLight .nav-link,
.navbarScroll.navbarLight .navbar-brand {
    color: #FFFFFF;
}

#about h2,
#skills h2,
#portfolio h2,
#universe h2,
#contact h2 {
    font-size: 48px;
    color: #FFFFFF;
}

/* border title section */
.border-title-section {
    border-bottom: 2px solid;
    border-top: 2px solid;
    margin-bottom: 24px;
    padding-bottom: 10px;
    background-color: #778899;    
}

main h1 {
    font-size: 48px;
    text-align: center;
    color: #778899;
    margin-top: 150px;
}

#job {
    font-size: 48px;
    text-align: center;
    color: #778899;
}

/* about */
.imageAboutPage {
    width: 100%;
    border-radius: 5%;
}

.about-content {
    font-size: 26px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.about-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 26px;
}

.about-column li {
    margin: 0 auto;
}

#about p {
    margin: 10px 0;
}

/* portfolio */
.space-card {
    display: flex;
    margin-top: 24px;
}
.card {
    min-height: 350px;
}
.card-img-top {
    height: 135px;
    object-fit: contain;
}
#portfolio p {
    font-size: 20px;
    text-align: center;
}
.portfolioContent:hover {
    border: 1px solid #008000;
}

/* skills */
.card-title {
    margin-bottom: 16px;
}
.skillsText {
    height: 440px;
    cursor: pointer;
}
.skillsText img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}
#skills li {
    font-size: 20px;
    padding-bottom: 10px;
}
.card-title {
    text-align: center;
}
.skillsText:hover {
    border: 1px solid #008000;
    cursor: auto;
}

/* universe */
.universeText {
    height: 30px;
    cursor: pointer;
}
#universe li {
    font-size: 20px;
    padding-bottom: 10px;
}
.universeText:hover {
    border: 1px solid #008000;
    cursor: auto;
}

/* contact */
.contactColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactColumn i {
    color: #198754;
}

/* Media queries */
@media (max-width: 1024px) {
    @media (orientation: portrait) {
        .navbar-collapse {
            margin-top: 30px;
        }
        #about-image {
            display: flex;
            justify-content: center;
        }
        .imageAboutPage {
            width: 30%;
        }
        .about-content {
            font-size: 26px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
        }  
        .space-card {
            gap: 20px;
        }
        .space-skills {
            display: grid;
        }
        #skills ul {
            padding: 0 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }  
      }
}

@media (max-width: 768px) {
    #about,
    #portfolio,
    #skills,
    footer {
        margin-top: 40px;
    }    
    .imageAboutPage {
        width: 50%;
    }
    .space-card {
        gap: 20px;
    }

    @media (orientation: portrait) {
        .navbar-dark .navbar-nav .nav-link {
            font-size: 22px;
        }
        main h1 {
            font-size: 28px;
            margin-top: 100px;
        }
        #job {
            font-size: 28px;
        }
        .about-column {
            display: flex;
            flex-direction: column;
        }
        .about-column li {
            margin-left: 70px ;
        }
        .about-column li:nth-child(2) { order: 3; }
        .about-column li:nth-child(3) { order: 5; }
        .about-column li:nth-child(4) { order: 2; }
        .about-column li:nth-child(5) { order: 1; }
        .about-column li:nth-child(6) { order: 4; }
        .about-content {
            font-size: 22px;
        }
        #about h2,
        #skills h2,
        #portfolio h2,
        #contact h2 {
            font-size: 30px;
        }
        .space-skills {
            display: grid;
        }
        #skills ul {
            padding: 0 0 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }  
      }
      @media (orientation: landscape) {
        .navbar-collapse {
            margin-top: 20px;
        }
        .navbar-dark .navbar-nav .nav-link {
            font-size: 22px;
        }
        .about-column {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .about-column li:nth-child(2) { order: 1; }
        .about-column li:nth-child(3) { order: 5; }
        .about-column li:nth-child(4) { order: 4; }
        .about-column li:nth-child(5) { order: 2; }
        .about-column li:nth-child(6) { order: 3; }        
      }
}

  